.hero {
  background-image: url("https://i.imgur.com/qkdpN.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 100px;
  width: 75vw;
}
